In [33]:
import tensorflow as tf
from tensorflow.keras.datasets.boston_housing import load_data

# Dataset

In [34]:
(x_train, y_train), (x_test,y_test)=load_data(path='boston_housing.npz', test_split=0.2 ,seed=113)
x_train.shape, y_train.shape, x_test.shape,y_test.shape

((404, 13), (404,), (102, 13), (102,))

In [35]:
import pandas as pd

In [36]:
df = pd.DataFrame(x_train)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       404 non-null    float64
 1   1       404 non-null    float64
 2   2       404 non-null    float64
 3   3       404 non-null    float64
 4   4       404 non-null    float64
 5   5       404 non-null    float64
 6   6       404 non-null    float64
 7   7       404 non-null    float64
 8   8       404 non-null    float64
 9   9       404 non-null    float64
 10  10      404 non-null    float64
 11  11      404 non-null    float64
 12  12      404 non-null    float64
dtypes: float64(13)
memory usage: 41.2 KB

In [37]:
df.describe()

               0           1           2   ...          10          11          12
count  404.000000  404.000000  404.000000  ...  404.000000  404.000000  404.000000
mean     3.745111   11.480198   11.104431  ...   18.475990  354.783168   12.740817
std      9.240734   23.767711    6.811308  ...    2.200382   94.111148    7.254545
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.081437    0.000000    5.130000  ...   17.225000  374.672500    6.890000
50%      0.268880    0.000000    9.690000  ...   19.100000  391.250000   11.395000
75%      3.674808   12.500000   18.100000  ...   20.200000  396.157500   17.092500
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

In [38]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [39]:
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)
x_train.shape, x_test.shape

((404, 13), (102, 13))

In [40]:
df = pd.DataFrame(x_train)
df.describe()

                 0             1   ...            11            12
count  4.040000e+02  4.040000e+02  ...  4.040000e+02  4.040000e+02
mean  -1.015414e-16  1.099231e-17  ...  5.956800e-15  6.139204e-16
std    1.001240e+00  1.001240e+00  ...  1.001240e+00  1.001240e+00
min   -4.051005e-01 -4.836155e-01  ... -3.771101e+00 -1.519664e+00
25%   -3.969615e-01 -4.836155e-01  ...  2.116008e-01 -8.075036e-01
50%   -3.766520e-01 -4.836155e-01  ...  3.879673e-01 -1.857436e-01
75%   -7.617386e-03  4.296024e-02  ...  4.401777e-01  6.005999e-01
max    9.234847e+00  3.728990e+00  ...  4.480771e-01  3.482019e+00

[8 rows x 13 columns]

# Model and fit

In [41]:
model = tf.keras.models.Sequential()

In [42]:
model.add(tf.keras.Input(shape=(13)))
model.add(tf.keras.layers.Dense(64, activation='sigmoid'))
model.add(tf.keras.layers.Dense(64, activation='sigmoid'))
model.add(tf.keras.layers.Dense(64, activation='sigmoid'))
model.add(tf.keras.layers.Dense(1,))

model.compile(optimizer='sgd',loss='mse', metrics=['mae'])

WARNING:tensorflow:Please add `keras.layers.InputLayer` instead of `keras.Input` to Sequential model. `keras.Input` is intended to be used by Functional model.

In [ ]:
tf.keras.utils.plot_model(model, show_shapes=True)

In [ ]:
model.summary()

In [ ]:
model.fit(x_train, y_train, epochs=100)

# evaluation

In [49]:
model.evaluate(x_train, y_train)

13/13 [==============================] - 0s 1ms/step - loss: 8.1289 - mae: 2.1184

[8.128937721252441, 2.118410587310791]

# Service

In [54]:
x_train[10]

array([ 0.63391647, -0.48361547,  1.0283258 , -0.25683275,  1.15788777,
        0.19313958,  1.11048828, -1.03628262,  1.67588577,  1.5652875 ,
        0.78447637,  0.22689422,  1.04466491])

In [55]:
model.predict([[-0.380999  , -0.48361547, -0.37402299, -0.25683275, -0.31887859,
        0.1945502 ,  0.58730449, -0.50578021, -0.51114231, -0.13178499,
        1.10299743, -3.02127105, -0.29132553]])

array([[19.20824]], dtype=float32)

In [57]:
y_train[10]

12.1